@import '../../styles/shared';

.container {
  display: flex;
  margin-bottom: 1.5rem;
}

.image {
  &__container {
    margin-right: 0.5rem;
    margin-bottom: 0;
    min-width: 50px;
    border-radius: 100%;
  }
}
